<table class="DigitImage">
  <tr *ngFor="let currentRow of pixelData">
    <td class="DigitImagePixel" *ngFor="let currentCell of currentRow" [style.background]="convertNumericShadeToHtmlColour(currentCell)"></td>
  </tr>
</table>
<br />
<form>
  <mat-form-field class="NumberInput">
    <input matInput #digitImageId class="NumberInput" type="number" id="digit-image-id" name="digit-image-id" min="0" max="2" value="0" />
  </mat-form-field>
</form>
<br />
<br />
<button mat-raised-button type="button" (click)="getDigitImage(digitImageId.value)">Get from API</button>
